.keeperContainer {
    display: grid;
    grid-template-columns: 10% 82% 8%;
    width: min(100%, 1440px);
    padding-top: 30px;
    margin: auto;
    /* border-bottom: black 2px solid; */
}

.kmonth {
    float: left;
    font-size: 36px;
    font-weight: 700;
    color: #B99B6B;
}

.kbtn {
    position: relative;
    float: right;
    color: #FFFFFF;
    background-color: #AA5656;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    z-index: 10;
}

.kbtn:hover {
    opacity: 0.8;
}

.dashTop {
    position: relative;
    top: 15px;
    width: 95%;
    margin: auto;
    border-bottom: hsl(0, 0%, 100%) 3px dotted;
}

.dashBottom {
    position: relative;
    bottom: -13px;
    width: 100%;
    width: 95%;
    margin: auto;
    border-bottom: hsl(0, 0%, 100%) 3px dotted;
}

.kform {
    background-color: #ede1d6;
    width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 42%;
    top: 90px;
    border-radius: 30px;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
    animation: slideInFromTop 0.3s;
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}


.formDate,
.formCat,
.formSub,
.formNum,
.formMemo {
    font-weight: 700;
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    color: rgb(92, 92, 92);
}

.formDate:focus,
.formCat:focus,
.formSub:focus,
.formNum:focus,
.formMemo:focus {
    outline: 0;
    cursor: pointer;
}

.formDate {
    margin-top: 33px;
    margin-bottom: 5px;
    width: 200px;
}

.formCat,
.formSub {
    width: 105px;
    margin: 5px;
}

.formCat {
    margin-right: 5px;
}

.formNum {
    width: 200px;
    margin: 5px;
}

.formMemo {
    width: 200px;
    height: 100px;
    margin: 5px;
    word-wrap: break-word;
    resize: none;
    overflow: auto;
}

.formBtn {
    color: #FFFFFF;
    background-color: #B99B6B;
    width: 220px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

.formBtn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.formbkg {
    position: absolute;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

@media only screen and (max-width: 900px) {
    .kform {
        left: 32%;
    }
}

@media only screen and (max-width: 750px) {
    .kform {
        left: 26%;
    }
}

@media only screen and (max-width: 600px) {
    .keeperContainer{
        grid-template-columns: 5% 90% 5%;
    }

    .kform {
        left: 20%;
    }
}

@media only screen and (max-width: 500px) {
    .kform {
        left: 15%;
    }

    .kbtn {
        width: 140px;
    }
}

@media only screen and (max-width: 400px) {
    .kform {
        top: 100px;
        left: 11.5%;
    }

    .kmonth {
        font-size: 36px;
    }

    .kbtn {
        width: 110px;
    }
}

@media only screen and (max-width: 376px) {

    .kform {
        left: 8.5%;
    }

    .kmonth{
        font-size: 36px;
    }

    .kbtn {
        width: 100px;
    }
}