@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body {
    /* font-family: 'Noto Sans TC', '微軟正黑體', sans-serif; */
    margin: 0px;
    /* background-color: #fffdfa; */
	background-color: #EFE8E2;
	font-family: 'Raleway', sans-serif;
}


/* sidebar */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
	--fa-fill: #A22C29;
  /* --bg-primary: #0A100D; */
  --bg-primary: #698269;
  /* --bg-secondary: #E2C044; */
  --bg-secondary: #B99B6B;

	--transition-speed: 600ms;
}

.navbar {
	background-color: var(--bg-primary);
	position: fixed;
	transition: width 200ms ease;
	z-index: 10;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* 防止置右 */

.link{
    width: 100%;
}

.link:last-child{
    margin-top: auto;
}

.link2{
    width: 100%;
    text-decoration: none;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	fill: var(--fa-fill);
	text-decoration: none;	
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
    text-decoration: none;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	cursor: pointer;
}

.link-text {
	display: none;
    font-size: 18px;
    margin-left: -15px;
    text-decoration: none;
    color: #b6b6b6;
	letter-spacing: 0.2em;
}

.link{
    text-decoration: none;
}

.username{
    font-size: 20px;
    margin-left: 40px;
}

.nav-link svg {
	min-width: 2rem;
	margin: 1.5rem;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: black;
	background: var(--bg-secondary);
	/* font-size: 1.5rem; */
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo span {
	color: black;
}


@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}
	
	.logo {
		display: none;
	}
	
	.navbar-nav {
		flex-direction: row;
	}
	
	.nav-link {
		 justify-content: center;
         
	}
}

/* Large Screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}
	
	.navbar:hover {
		width: 12rem;
	}
	
	.navbar:hover .link-text {
		display: block;
  }
}