.progress-bar {
    background-color: #e8e5bf;
    height: 28px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 30px;
}

.progress-bar__inner {
    position: relative;
    display: block;
    height: 100%;
    background-color: #739566;
    animation: run-progress 1s;
   
}

.progress-bar__percent{
    position: absolute;
    right: -45px;
    float: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: black;
}

.progress-bar__inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg,
            rgba(255, 255, 255, .3) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .3) 50%,
            rgba(255, 255, 255, .3) 75%,
            transparent 75%);
    background-size: 75px 75px;
}

.needMoreBar{
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    color: #B99B6B;
    font-size: 18px;
    line-height: 28px;
}

@keyframes run-progress {
    0% {
        width: 0;
    }
}

@media only screen and (max-width: 530px) {
    .progress-bar{
        transform: scale(0.9);
        height: 30px;
    }
}

@media only screen and (max-width: 520px) {
    .progress-bar{
        transform: scale(0.8);
        height: 25px;
    }
}

@media only screen and (max-width: 440px) {
    .progress-bar{
        transform: scale(0.8);
        height: 28px;
        margin-left: -20px;

    }
}

@media only screen and (max-width: 400px) {
    .progress-bar{
        margin-left: -10px;

    }
}

@media only screen and (max-width: 361px) {
    .progress-bar{
        margin-left: -25px;
    }
}