@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Open+Sans:wght@600;700&family=Pacifico&family=Permanent+Marker&display=swap);


.keeperContainer2 {
    display: grid;
    grid-template-columns: 12% 83% 5%;
    padding-top: 30px;
}

.kmonth2 {
    float: left;
    font-size: 36px;
    font-weight: 700;
    color: #B99B6B;
}

.budget{
    font-family: FakePearl-Regular;
    float: right;
    color: #FFFFFF;
    background-color: #AA5656;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    text-align: center;
    line-height: 50px;
}

.trackerContainer {
    display: grid;
    grid-template-columns: 10% 85% 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.tc {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

.trackerCard {
    background-color: #FAFAF9;
    width: min(100%, 1200px);
    border-radius: 30px;
    margin: auto;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 50px;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.trackerMain{
    border-left: 2px dashed #ccc;
}

.trackerPic {
    text-align: center;
    margin: auto;
    line-height: 30px;
}

.tpic {
    justify-self: center;
    color: #B99B6B;
}

.trackerCategory {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #B99B6B;
}

.trackerBudget {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.tbn {
    font-family: FakePearl-Regular;
    margin-top: 20px;
    color: #AA5656;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@500&display=swap');


.tbm {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #363636;
    font-size: 20px;
    text-align: center;
    word-wrap:break-word;
}

.binput {
    width: 70px;
    padding: 5px;
    font-size: 18px;
    border-style: none;
    text-align: center;
    background-color: #937b55;
    opacity: 0.9;
    color: #FFF;
    border-radius: 5px;
    margin-right: 5px;
    word-break: break-all;
}

.binput:focus {
    border-style: none;
    outline: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tickicon {
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #FAFAF9;
    background-color: #698269;
    border-radius: 50%;
    text-align: left;
    padding-left: 6px;
    width: 27px;
    height: 27px;
}


.editicon{
    color: #698269;
    margin-left: 5px;
}

.tickicon:hover,
.editicon:hover{
    cursor: pointer;
    opacity: 0.8;
}


@media only screen and (max-width: 1040px) {
    .tc {
        grid-template-columns: 100%;
        gap: 0%;
    }
}

@media only screen and (max-width: 860px) {
    
    .keeperContainer2 {
        grid-template-columns: 15% 80% 5%;
    }

    .trackerContainer {
        display: grid;
        grid-template-columns: 15% 80% 5%;
    }
}

@media only screen and (max-width: 600px) {

    .keeperContainer2 {
        grid-template-columns: 5% 90% 5%;
    }

    .trackerContainer {
        display: grid;
        grid-template-columns: 5% 90% 5%;
    }

    .budget{
        font-size: 18px;
        width: 200px;
    }
    .trackerCategory{
        font-size: 24px;
    }
    .binput{
        width: 60px;
    }
}

@media only screen and (max-width: 500px) {
    .binput{
        width: 60px;
    }
    .pBar{
        position: relative;
        float: left;
    }
    .trackerPic{
        margin: auto;
    }
    .binput{
        font-size: 16px;
    }
    .budget{
        width: 180px;
    }
}

@media only screen and (max-width: 440px) {
  
    .trackerCard{
        grid-template-columns: 20% 80%;
    }

    .binput{
        width: 45px;
    }
    .kb{
        display: grid;
        grid-template-columns: 100%;
        margin: auto;
        text-align: center;
    }
    .budget{
        margin-top: 20px;
        margin-bottom: -20px;
        width: 230px;
    }
    .trackerBudget{
        grid-template-columns: 34% 33% 33%;
    }
    .tbm{
        font-size: 18px;
    }
    .trackerCategory{
        font-size: 22px;
        writing-mode:vertical-rl;
    }
}